<h1> <%= @game.players[0].read_name %> vs <%= @game.players[1].read_name %> </h1>

<h1> It is <%= @game.current_turn.read_name %>'s turn. It is turn <%= @game.turn_counter + 1%>


<h2><%= @game.players[0].read_name %> HP: <%= @game.players[0].read_hp %> </h2>
<h2><%= @game.players[1].read_name %> HP: <%= @game.players[1].read_hp %> </h2>


<form action="/attack_player" method="post">
    <input type="submit" value="Attack!">
</form>

<% if @game.previous_action == "Player attacked" %>
<h3> Attack on <%= @game.players[@game.turn_counter % 2].read_name %> successful! </h3>
<% end %>